**.project
**.DS_Store
**.classpath
**.settings
**/target
modules/actions-server/src/main/webapp/META-INF/context.xml

modules/actions-server/nbactions.xml

modules/actions-editor/src/main/webapp/META-INF/context.xml

modules/actions-editor/nbactions.xml

modules/actions-editor/nb-configuration.xml

sample/lifia/es/.DS_Store

sample/lifia/.DS_Store

sample/.DS_Store

sample/lifia/es/.DS_Store

config/.DS_Store

config/.DS_Store

modules/actions-server/src/main/resources/server.properties

modules/actions-server/src/main/resources/server.properties

nbactions.xml

config/.DS_Store
