<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
 
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="isAuthenticated()" />
                <intercept-url pattern="/static/**" filters="none" />
                <intercept-url pattern="/static/img/**" filters="none" />
                <intercept-url pattern="/signin/**" filters="none" />
                <intercept-url pattern="/service/fileStore/**" filters="none" />
                <intercept-url pattern="/service/**" access="ROLE_USER" />
                <intercept-url pattern="/login" filters="none" />
                <intercept-url pattern="/register" filters="none" />
                <intercept-url pattern="/register/confirm" filters="none" />
                <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
              
		<form-login login-page="/login" default-target-url="/teams/"
			authentication-failure-url="/login?error=true" 
                        always-use-default-target="true" />
                
		<logout logout-success-url="/logout" />
	</http>
 
	<authentication-manager>
	  <authentication-provider user-service-ref="userService">
	  	<password-encoder hash="sha">
	  	</password-encoder>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>