<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
 
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="isAuthenticated()" />
                <intercept-url pattern="/static/**" filters="none" />
                <intercept-url pattern="/static/img/**" filters="none" />
                <intercept-url pattern="/signin/**" filters="none" />
                <intercept-url pattern="/login" filters="none" />
              
		<form-login login-page="/login" default-target-url="/teams/"
			authentication-failure-url="/login?error=true" 
                        always-use-default-target="true" />
                
		<logout logout-success-url="/logout" />
	</http>
 
	<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
 
		   users-by-username-query="
		      select username, password, enabled 
		      from abstraction_user where username=?" 
 
		   authorities-by-username-query="
		      select u.username, ur.authority from abstraction_user u inner join user_roles ur 
		      on u.user_role_id = ur.user_role_id where u.username =?" 
 
		/>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>