@CHARSET "UTF-8";

.tree-folder ul{
	padding-left: 20px;
	list-style: none;
	margin-bottom: 0px;
}

.tree-folder a{
	margin-left: 4px;
}

.tree-folder span{
	font-weight: bold;
}

.folder-name {
	margin-left:6px;
}

.folderTag {
	margin-left: 0px;
	display: block;
}

#fileTree a{
	margin-left: 4px;
	cursor: pointer;
}

html, body, .container, #editor-container {
	height: 100%;
}

#tree-container{
	height: 500px;
	background-color: rgb(241, 241, 241);
	overflow-y: scroll
}

#fileTree {
	padding-top: 20px;
}

#toolbar {
	background-color: #101010;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#filename-container {
	margin-top: 5px;
	width: 100%;
	background-color: white;
}

.selectedFile  {
	background-color: #3276b1;
}

.selectedFolder  >.folderTag {
	background-color: #3276b1;
}

.selectedFolder >span >.folder-name {
	color: white;
}

.selectedFile a{
	color: white;
}
#zipUploadForm {
	display: inline-block;
}

.light{
	color: #D0D0D0;
}