<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
          http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security-3.0.xsd
          http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          ">
	
	
  <import resource="classpath:mapping.xml" />

  <tx:annotation-driven/>
 
  <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true" />

  <bean id="contextHolder" class="com.abstractions.service.core.DevelopmentContextHolder">
    <constructor-arg value="10" />
    <constructor-arg value="MINUTES" />
    <constructor-arg ref="applicationLoader" />
    <constructor-arg ref="namesMapping" />
  </bean>
  
  <bean id="interpreterHolder" class="com.abstractions.service.core.InterpreterHolder" />
</beans>